/OSGiLab/AsteroidsOSGi/OSGiPlayer/target/
/OSGiLab/AsteroidsOSGi/OSGiCollision/target/
/OSGiLab/PaxAsteroids/OSGiLibGDX/target/
/SpringAsteroid/Common/target/
/SpringAsteroid/branding/target/
/SpringAsteroid/application/target/
/SpringAsteroid/Player/target/
/SpringAsteroid/Core/target/
/SpringAsteroid/Asteroid/target/
/SpringAsteroid/Enemy/target/
/SpringAsteroid/Collision/target/