/Lektion03/Player/target/
/Lektion03/Collision/target/
/Lektion03/Asteroid/target/
/Lektion03/Core/target/
/Lektion03/Enemy/target/
/Lektion06/asteroid/dk.sdu.mmmi.core/target/
/Lektion06/PaxAsteroids/OSGiCommon/target/
/Lektion06/PaxAsteroids/OSGiCommonAsteroids/target/
/Lektion06/PaxAsteroids/OSGiCommonBullet/target/
/Lektion06/PaxAsteroids/OSGiCommonEnemy/target/
/Lektion06/PaxAsteroids/OSGiCore/target/
/Lektion06/PaxAsteroids/OSGiEnemy/target/
/Lektion06/PaxAsteroids/OSGiLibGDX/target/
/NetbeansLab1/CommonAsteroid/target/
/NetbeansLab1/Core/target/